<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" href="public/css/profile.css">




<nav>
    <ul><a href="/home"> Home</a></ul>

</nav>


<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
      </div>
  </div>
</div>

<h1 class="title"> Welcome <%= user.userName %> <h1>


<h1> My Pokemon Team: </h1>

<div class="list">
    <ul class="list">
        <% for (let i = 0; i < pokemon.length; i++){ %>
            <li class="list">
                <div>
                    <div>
                        Team Number <%=pokemon[i].teamNumber %>
                    </div>
                    <div>
                        <%=pokemon[i].pokemon %>
                    </div>    
                    <!-- <div> 
                        <%=pokemon[i].pokemon2 %>
                    </div>
                    <div>
                        <%=pokemon[i].pokemon3 %>
                    </div>
                    <div>
                        <%=pokemon[i].pokemon4 %>
                    </div>
                    <div>
                        <%=pokemon[i].pokemon5 %>
                    </div>
                    <div>
                        <%=pokemon[i].pokemon6 %>
                    </div> -->
                    <%=pokemon[i].createdAt %>
                </div>
                
              
            </li>
         
    <% } %> 
    </ul>
    <h3> Delete Button:</h3>
    <form action="/pokemon/deleteTeam/<%= pokemon._id%>?_method=DELETE" method="POST">
        <button class="btn btn-primary fa fa-trash" type="submit"></button>
    </form>
</div>
<!-- where the user sees their team -->








